<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <center><h1 class="display-8">Welcome to <%= title %></h1></center>
        <% if (title == "Contact") { %>
          <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
        <% } %>

      </div>
    </div>

<% include ./partials/footer.ejs %>
